In [1]:
#conda install -c conda-forge pyarrow -y
#conda install -c conda-forge fastparquet -y

In [2]:
import pandas as pd
import numpy as np

In [3]:
import dask
from dask.distributed import Client
from dask import dataframe as dd
import sys

print("Python Version : ", sys.version)
print("Dask Version : ", dask.__version__)

client = Client(n_workers=2, threads_per_worker=4)
#client

Python Version :  3.9.7 (default, Sep 16 2021, 13:09:58)
[GCC 7.5.0]
Dask Version :  2021.12.0

### Generate data

In [4]:
data_len = 500
id_list = [i for i in range(data_len)]
df1 = pd.DataFrame({'id': id_list,
                    'value': np.random.randint(0,100,data_len)})
df2 = pd.DataFrame({'id': id_list,
                    'value': np.random.randint(0,100,data_len)})

In [5]:
dd1 = dask.dataframe.from_pandas(df1, npartitions=1)
dd2 = dask.dataframe.from_pandas(df2, npartitions=1)

In [6]:
dd1.to_parquet('dd1/')
dd2.to_parquet('dd2/')

[None]

### Read data from parquet files

In [7]:
dfa = dd.read_parquet('dd1/')
dfb = dd.read_parquet('dd2/')

### Merge

In [8]:
%time dfa.merge(dfb, on ='id', how='left').compute()

CPU times: user 26.8 ms, sys: 473 µs, total: 27.3 ms
Wall time: 194 ms

      id  value_x  value_y
0      0        5       59
1      1       31       81
2      2       28       16
3      3       41       73
4      4        6       62
..   ...      ...      ...
495  495       33       55
496  496       32        5
497  497       71       43
498  498       84       47
499  499       51        5

[500 rows x 3 columns]